<VirtualHost *:80>
        ServerName {{ domain }}
        ServerAlias www.{{ domain }}
        # Das folgende erzwingt SSL
        RewriteEngine On
        RewriteCond %{HTTPS} off
        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</VirtualHost>

<virtualhost *:443>
   ServerName {{ domain }}
   ServerAlias www.{{ domain }}
   ServerAdmin info@ehanse.de
   ErrorLog ${APACHE_LOG_DIR}/error.log
   CustomLog ${APACHE_LOG_DIR}/access.log combined


   #Verhindere Man-In-The-Middle-Attacks mit Strict Transp Sec
    <IfModule mod_headers.c>
      Header always set Strict-Transport-Security "max-age=15768000; includeSubDomains; preload"
      KeepAlive On
      KeepAliveTimeout 100
      MaxKeepAliveRequests 200
    </IfModule>

   <Proxy *>
     Order deny,allow
     Allow from all
     #Missbrauch als Mailproxy ueber Port 25 verhindenr:
     RewriteEngine On
     RewriteRule "^proxy:[a-z]*://[^/]*:25(/|$)" "-" [F,NC,L]
   </Proxy>

   ProxyRequests Off
   #ProxyVia On
   ProxyPass / http://127.0.0.1:8069/
   ProxyPassReverse / http://127.0.0.1:8069
   #Header add X-ODOO-DBFILTER "oa"
   # RequestHeader add X-ODOO-DBFILTER "oa"

</virtualhost>
