<VirtualHost *:80>
        ServerName {{ domain }}
        ServerAlias {{ domainAliases }}
        RewriteEngine On
        RewriteCond %{HTTPS} off
        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</VirtualHost>

<virtualhost *:443>
   ServerName {{ domain }}
   ServerAlias {{ domainAliases }}
   ServerAdmin info@ehanse.de
   ErrorLog ${APACHE_LOG_DIR}/error.log
   CustomLog ${APACHE_LOG_DIR}/access.log combined

   SSLEngine On
   SSLCertificateFile /etc/letsencrypt/live/{{ domain }}/fullchain.pem
   SSLCertificateKeyFile /etc/letsencrypt/live/{{ domain }}/privkey.pem


    <IfModule mod_headers.c>
      #Verhindere Man in the Middle Attacks
      Header always set Strict-Transport-Security "max-age=15768000; includeSubDomains; preload"
      KeepAlive On
      KeepAliveTimeout 100
      MaxKeepAliveRequests 200
    </IfModule>

   <Proxy *>
     Order deny,allow
     Allow from all
     RewriteEngine On
     RewriteRule "^proxy:[a-z]*://[^/]*:25(/|$)" "-" [F,NC,L]      #Missbrauch als Mailproxy ueber Port 25 verh.:
   </Proxy>

   ProxyRequests Off
   ProxyPass / http://127.0.0.1:8069/
   ProxyPassReverse / http://127.0.0.1:8069
   # Header add X-ODOO-DBFILTER "oa"
   # RequestHeader add X-ODOO-DBFILTER "oa"
</virtualhost>
