[submodule "roles/certbot"]
	path = roles/certbot
	url = https://github.com/geerlingguy/ansible-role-certbot.git
[submodule "roles/ansible-role-install-resilio"]
	path = roles/ansible-role-install-resilio
	url = https://github.com/eHanse-IT/ansible-role-install-resilio.git
[submodule "ansible-fail2ban"]
	path = ansible-fail2ban
	url = https://github.com/Oefenweb/ansible-fail2ban.git
[submodule "roles/ansible-fail2ban"]
	path = roles/ansible-fail2ban
	url = https://github.com/Oefenweb/ansible-fail2ban.git
[submodule "roles/ansible-role-postfix"]
	path = roles/ansible-role-postfix
	url = https://github.com/geerlingguy/ansible-role-postfix.git
[submodule "roles/ansible-odoo"]
	path = roles/ansible-odoo
	url = https://github.com/OCA/ansible-odoo.git
[submodule "roles/ansible-role-seafile"]
	path = roles/ansible-role-seafile
	url = https://github.com/ginsys/ansible-role-seafile.git
[submodule "roles/ansible-role-mysql"]
	path = roles/ansible-role-mysql
	url = https://github.com/geerlingguy/ansible-role-mysql.git
[submodule "ansible-role-nginx"]
	path = ansible-role-nginx
	url = https://github.com/geerlingguy/ansible-role-nginx.git
[submodule "roles/ansible-role-nginx"]
	path = roles/ansible-role-nginx
	url = https://github.com/geerlingguy/ansible-role-nginx.git
