[odoo]
enabled = true
port = http,https
bantime = 30
maxretry = 8
findtime = 1800
logpath = {{ apache_odoo_vhost_log_path }}

# Remarks
# TODO set the bantime to a realistic value.
# as we are parsing the HTTP access.log and not the odoo log, we need to take care
# to not have the maxretry value too low, as fail2ban is counting each load of /web/login
#
#
# findtime needs to be not too small, as TZD has to be taken into account.
