# The "order" line is only used by old versions of the C library.
order bind, hosts

# nosppof on is not required anymore according
# to https://serverfault.com/questions/890041/error-bad-command-nospoof-on-in-etc-host-conf-file


